@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Nunito&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  /* color: 'white'; */
  background-color: #38B6FF;
}

h1 {
  font-family: 'Manrope', sans-serif;
  color: 'white';
}

h2 {
  font-family: 'Manrope', sans-serif;
  color: 'white';
}

span {
  text-decoration-color: red;
  /* text-decoration-color: #ec4899; */
  text-decoration-style: wavy;
}

#by-tapped {
  font-family: 'Nunito', sans-serif;
  padding: 0.7rem;
  color: #4A5E68;
  background-color: #fff;
}

#apply-here {
  font-family: 'Nunito', sans-serif;
  padding: 0.7rem;
  color: #fff;
  background-color: #000;
}